
/*头部*/
.header{height:59px; border-bottom:1px solid #d6d6d6; box-sizing:border-box;}
.header-in{width:1000px; height:58px; margin:0 auto; padding-top:13px; box-sizing:border-box;}
/*标志*/
.logo{float:left; width:118px; height:32px; background:url(../images/header-small-sprites.png) no-repeat;}
/*导航*/
.nav{float:left; height:58px; margin-left:43px; margin-top:-13px;}
.nav>ul{ height:56px; line-height:56px;}
.nav>ul>li{float:left; height:56px;}
.nav>ul>li>a{height:56px; display:inline-block; padding:0 14px;}
.nav>ul>li:nth-of-type(1)>a{color:#fff;}
.nav>ul>li:nth-of-type(1)>a:hover{color:#fff;}
.nav strong{color:#ef523d; margin-right:4px;}
.nav span{width:0;
     height:0;
     display:inline-block;
     border-width:4px;
     border-color:#666666 transparent transparent transparent;
     border-style:solid dashed dashed dashed;
     overflow:hidden;
     margin-left:3px;
     vertical-align:middle;}
.nav>ul>li:nth-of-type(2)>a,.nav>ul>li:nth-of-type(3)>a,.nav>ul>li:nth-of-type(5)>a,.nav>ul>li:nth-of-type(7)>{border-bottom:3px solid #ffffff;}
.nav>ul>li:nth-of-type(2)>a:hover,.nav>ul>li:nth-of-type(3)>a:hover,.nav>ul>li:nth-of-type(5)>a:hover,.nav>ul>li:nth-of-type(7)>a:hover{border-bottom:3px solid #ff9d00;}
.nav>ul>li:nth-of-type(1)>a{background:#ff9d00; height:59px; line-height:56px;}
.nav>ul>li:nth-of-type(4)>a,.nav>ul>li:nth-of-type(6)>a{border-top:3px solid #ffffff; border-right:1px solid #ffffff; border-left:1px solid #ffffff; line-height:51px; height:55px; background:#ffffff;}
.nav>ul>li:nth-of-type(4)>a:hover,.nav>ul>li:nth-of-type(6)>a:hover{border-top:3px solid #ff9e00; border-right:1px solid #c9c9c9; border-left:1px solid #c9c9c9; line-height:51px; height:55px; }
/*导航下拉*/
.xl{width:110px; border:1px solid #c9c9c9; border-top:0px; background-color:rgba(255,255,255,0.95); line-height:40px; position:absolute; z-index:999; display:none; margin-top:1px;} 
.xl li:hover{background:#efefef;}
.xl li a:hover{color:#333333;}
.xl li a{margin-left:16px;}
.xlt{width:220px; border:1px solid #c9c9c9; border-top:0; background-color:rgba(255,255,255,0.95); line-height:40px; margin-top:-1px; position:absolute; z-index:999; display:none;}
.xlt li a{margin-left:16px; margin-right:16px;}
.zxlo{float:left; font-size:14px; line-height:65px;}
.zxlt{float:right;}
/*活动*/
.activity{float:left; margin-left:76px;}   
/*登录和注册*/
.lar{float:right;} 
.lar a{float:left; margin-left:9px; line-height:26px;  font-size:14px; color:#ff9d00;}
.lar a:nth-of-type(1){width:26px; height:26px; display:block; background:url(../images/header-sprites11.png) 0 -50px no-repeat;}
.lar a:nth-of-type(1):hover{background-position:0 -80px;}
.lar a:nth-of-type(2){width:26px; height:26px; display:block; background:url(../images/header-sprites11.png) -30px -50px no-repeat;}
.lar a:nth-of-type(2):hover{background-position:-30px -80px;}
.lar a:nth-of-type(3){width:26px; height:26px; display:block; background:url(../images/header-sprites11.png) 0 -165px no-repeat;}
.lar a:nth-of-type(3):hover{background-position:-30px -165px;}
.lar a:nth-of-type(4):hover,.lar a:nth-of-type(6):hover{text-decoration:underline;}
.lar a:nth-of-type(5){color:#c9c9c9;}
/*焦点图*/
/*内容*/
.main{margin-top:20px;}
.main-in{width:1000px; margin:0 auto;}
.main-in-top h4{width:1000px; height:110px; line-height:110px; font-size:24px;}

.sousuo{width:1000px; height:47px;}
.mudi{float:left; width:550px; height:47px; border:1px solid #999999; box-sizing:border-box;}
.mudi input{ width:548px; height:45px; outline:0; border:0; padding-left:11px; box-sizing:border-box; color:#adadad;}
.riqi-r{float:left; width:187px; height:47px; margin-left:10px;  border:1px solid #999999; box-sizing:border-box; position:relative;}
.riqi-r input{width:185px; height:45px; outline:0; border:0; padding-left:11px; box-sizing:border-box; color:#adadad;}
.riqi-r span{width:16px; height:16px; display:inline-block; background:url(../images/header-sprites.png) no-repeat 0 -140px; position:absolute; top:14px; right:10px;}
.riqi-l{float:left; width:187px; height:47px; margin-left:10px;  border:1px solid #999999; box-sizing:border-box; position:relative;}
.riqi-l input{width:185px; height:45px; outline:0; border:0; padding-left:11px; box-sizing:border-box; color:#adadad;}
.riqi-l span{width:16px; height:16px; display:inline-block; background:url(../images/header-sprites.png) no-repeat 0 -140px; position:absolute; top:14px; right:10px;}
.sou-d{float:right; width:46px; height:47px; margin-left:10px; position:relative;}
.sou-d button{width:46px; height:47px; outline:0; border:0; background:#ff9d00;}
.sou-d span{width:24px; height:24px; display:inline-block; background:url(../images/header-sprites.png) no-repeat 0 -110px; position:absolute; top:12px; left:11px;}

.ggy{width:1000px; height:186px; padding:72px 0; box-sizing:border-box;}
.ggy ul{width:1000px;}
.ggy ul li{float:left;}
.ggy ul li:nth-of-type(1),.ggy ul li:nth-of-type(2){width:373px;}
.ggy ul li:nth-of-type(2) span{ width:42px; height:42px; display:block; background:url(../images/hotel-sprites1.png) no-repeat -40px 0; margin-right:13px;}
.ggy ul li:nth-of-type(3) span{ width:43px; height:42px; display:block; background:url(../images/hotel-sprites1.png) no-repeat -86px 0; margin-right:13px;}
.ggy ul li:nth-of-type(3){width:254px;}
.ggy ul li span{float:left; width:35px; height:42px; display:block; background:url(../images/hotel-sprites1.png) no-repeat; margin-right:13px;}
.zi h4{height:24px; line-height:24px;}
.zi p{height:14px; line-height:14px;}

.zhuti{width:1000px; text-align:center;}
.zhuti h4{height:80px; line-height:80px; font-size:24px;}
.x-nav ul{width:1000px; height:53px; border-bottom:1px solid #e4e4e4; box-sizing:border-box;}
.x-nav ul li{float:left; width:166px;height:51px; line-height:51px;}
.x-nav ul li a{color:#666; font-size:18px;}
.current{border-bottom:3px solid #ff8a00;}
.x-nav ul .current a{color:#ff8a00;}
.youtu ul li{float:left; width:318px; height:240px; background:url(../images/wKgBs1dSnJCAI9xnAAktH6opmzI42.jpeg) no-repeat; background-size:100% 100%; float:left; margin-top:19px;}
.youtu ul li:nth-of-type(2),.youtu ul li:nth-of-type(3),.youtu ul li:nth-of-type(5),.youtu ul li:nth-of-type(6){margin-left:23px;}
.nali{width:318px; height:240px;  line-height:240px; text-align:center; background:#000;}
